@media (min-width: 320px) {
  .wrap__title {
    font-size: 15px;
  }
}

@media (min-width: 481px) {
  .wrap__title {
    font-size: 25px;
  }
}

@media (min-width: 641px) {
  .wrap__title {
    font-size: 35px;
  }
}

@media (min-width: 961px) {
  .wrap__title {
    font-size: 45px;
  }
}

@media (min-width: 1025px) {
  .wrap__title {
    font-size: 55px;
  }
}

@media (min-width: 1281px) {
  .wrap__title {
    font-size: 65px;
  }
}